@import url(https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;500;600;700&display=swap);
* {
  font-family: "Mohave", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.navbar {
  background: #097975;
  background: linear-gradient(90deg, #097975 0%, #0f5a62 0%, #00d1d5 100%);
  height: 50px;
}
.navbar ul {
  list-style: none;
}
.navbar ul h1 {
  cursor: pointer;
  padding: 0px 0px 0px 15px;
  line-height: 1.5;
  font-size: 32px;
  font-weight: 300;
  float: left;
  transition: 0.3s;
}
.navbar ul h1 a {
  color: #c2fffa;
  text-decoration: none;
}
.navbar ul h1 :hover {
  color: #00ffea;
  transition: 0.3s;
}
.navbar ul li {
  cursor: pointer;
  font-size: 22px;
  padding: 0px 15px 0px 0px;
  float: right;
  line-height: 2.2;
  transition: 0.3s;
}
.navbar ul li :hover {
  color: #00ffea;
  transition: 0.3s;
}
.navbar ul li form button {
  font-size: 22px;
  color: #c2fffa;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.navbar ul li a {
  color: #c2fffa;
  transition: 0.3s;
  text-decoration: none;
}

.card {
  margin: 10px;
  flex: 1 16%;
  padding: 20px;
  width: 250px;
  color: white;
  background-color: #0f6668;
  border-radius: 8px;
  border: 2px solid #00eeff;
}
.card img {
  width: 100%;
}
.card h1 {
  font-size: 22px;
  padding: 10px 0px 10px 0px;
}
.card p {
  font-size: 18px;
  padding: 0px 0px 10px 0px;
}
.card button {
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  font-size: 20px;
  border: none;
  padding: 10px;
  color: black;
  border-radius: 8px;
  background-color: aqua;
}

.cardlist {
  margin: 50px auto;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
}
.cardlist .bar {
  width: 100%;
  border-radius: 8px;
  background: #097975;
  background: linear-gradient(90deg, #097975 0%, #0f5a62 0%, #00d1d5 100%);
}
.cardlist .bar h1 {
  color: white;
  text-align: center;
}

.pages {
  border-radius: 8px;
  width: 70vw;
  margin: auto;
  background: #097975;
  background: linear-gradient(90deg, #097975 0%, #0f5a62 0%, #00d1d5 100%);
  color: white;
  text-align: center;
  font-size: 22px;
}
.pages a {
  text-decoration: none;
  color: white;
}
.pages span {
  color: aqua;
}
.pages svg {
  width: 22px;
  height: 22px;
}

.login {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.login form {
  margin-top: 150px;
  padding: 30px;
  color: white;
  max-width: 460px;
  background-color: #0f6668;
  border-radius: 8px;
}
.login form h1 {
  font-size: 52px;
  text-align: center;
}
.login form p {
  color: #a3fff7;
}
.login form label {
  width: 99.1%;
  font-size: 18px;
}
.login form input {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
  width: 99.1%;
  padding: 20px 0px 20px 0px;
}
.login form a {
  margin: 10px 0px 10px 0px;
  display: grid;
  place-items: center;
  color: #00d1d5;
  text-decoration: none;
}
.login form button {
  font-size: 20px;
  margin: 10px 0px 0px 0px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: aqua;
}

.register {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.register form {
  margin-top: 150px;
  padding: 30px;
  max-width: 460px;
  color: white;
  background-color: #0f6668;
  border-radius: 8px;
}
.register form h1 {
  font-size: 52px;
  text-align: center;
}
.register form label {
  width: 99.1%;
  font-size: 18px;
}
.register form p {
  color: #a3fff7;
}
.register form input {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
  width: 99.1%;
  padding: 20px 0px 20px 0px;
}
.register form a {
  margin: 10px 0px 10px 0px;
  display: grid;
  place-items: center;
  color: #00d1d5;
  text-decoration: none;
}
.register form button {
  font-size: 20px;
  margin: 10px 0px 0px 0px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: aqua;
}

.post {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.post form {
  margin-top: 150px;
  padding: 30px;
  max-width: 460px;
  color: white;
  background-color: #0f6668;
  border-radius: 8px;
}
.post form h1 {
  font-size: 52px;
  text-align: center;
}
.post form label {
  width: 99.1%;
  font-size: 18px;
}
.post form input {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
  width: 99.1%;
  padding: 20px 0px 20px 0px;
}
.post form p {
  color: #a3fff7;
}
.post form .img-input {
  font-size: 18px;
  color: black;
  border-radius: 6px;
  padding: 0;
  width: 99.1%;
  background-color: white;
}
.post form textarea {
  resize: none;
  width: 99.1%;
}
.post form button {
  font-size: 20px;
  margin: 10px 0px 0px 0px;
  width: 99.1%;
  padding: 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: aqua;
}

.postinfo {
  margin: 10px auto;
  flex: 1 16%;
  padding: 20px;
  width: 50vw;
  color: white;
  background-color: #0f6668;
  border-radius: 8px;
  border: 2px solid #00eeff;
}
.postinfo img {
  width: 100%;
}
.postinfo h1 {
  font-size: 22px;
  padding: 10px 0px 10px 0px;
}
.postinfo p {
  font-size: 18px;
  padding: 0px 0px 10px 0px;
}
.postinfo button {
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  border: none;
  padding: 10px;
  color: black;
  border-radius: 8px;
  background-color: aqua;
}
