.login {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    form {
        background-color: rgb(15, 102, 104);

        h1 {
        }
        label {
        }
        input {
        }
        button {
        }
    }
}
